*
{
	color:white;
}

.shadow
{
	text-shadow:2px 2px 10px #666666;
}

.container
{
/* 	margin:0 auto; */
	text-align:center;
}

#tourbtn
{
	margin-top:2%;
	border: 3px solid #007399;
    padding: 10px 40px; 
    border-radius: 15px;
    background-color:rgba(0,137,201,1);
    font-family:arial;
    font-weight:bold;
}

#tourbtn:hover
{
	background-color:rgba(26,179,235,1);
	cursor:pointer;
}
